/* PlayerCard.css */

.player-card {
  width: 200px;
  height: 300px;
  padding: 20px;
  border: 2px solid green;
  border-radius: 10px;
  background-color: #e0ffe0;
  text-align: center;
  position: relative;
}

.health-slot {
  width: 50px;
  height: 50px;
  border: 2px dashed #555;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  font-weight: bold;
}

.dice-change-slot {
  width: 50px;
  height: 50px;
  border: 2px dashed #555;
  border-radius: 5px;
  margin: 10px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-color: #f9f9f9;
  position: relative;
}

.avatar-image {
  width: 80%;
  height: auto;
  margin-top: 50px;
  border-radius: 12px;
}

.name-text {
  font-size: 1rem;
}

.hover {
  background-color: #e0ffe0;
}

.invalid {
  background-color: #ffe0e0;
}

.health-slot.hover,
.dice-change-slot.hover {
  border-color: green;
}

.health-slot.invalid,
.dice-change-slot.invalid {
  border-color: red;
}
