/* SavedDiceSlot.css */

.saved-dice-slot {
  width: 60px;
  height: 60px;
  border: 2px dashed #555;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-right: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; /* Add cursor pointer for clickable slots */
  color: #555;
}

.saved-dice-slot:last-child {
  margin-right: 0;
}

.saved-dice-slot.hover {
  background-color: #e0ffe0;
}

.saved-dice-slot.invalid {
  background-color: #ffe0e0;
}

.saved-dice-slot .dice {
  display: flex; /* Add flexbox to dice */
  align-items: center; /* Vertically center the dice */
  justify-content: center; /* Horizontally center the dice */
  position: relative; /* Ensure relative positioning for centering */
  width: 90%; /* Make sure the dice takes up the full width */
  height: 90%; /* Make sure the dice takes up the full height */
}
